# ==========================================
# Unity - Pastas e Arquivos Gerados (CapiJump)
# ==========================================
/CapiJump/[Ll]ibrary/
/CapiJump/[Tt]emp/
/CapiJump/[Oo]bj/
/CapiJump/[Bb]uild/
/CapiJump/[Bb]uilds/
/CapiJump/[Ll]ogs/
/CapiJump/[Uu]ser[Ss]ettings/
/CapiJump/[Mm]emoryCaptures/

# ==========================================
# Projetos e Configurações de IDEs / Editores
# ==========================================
# Visual Studio
/CapiJump/.vs/
/CapiJump/*.csproj
/CapiJump/*.unityproj
/CapiJump/*.sln
/CapiJump/*.suo
/CapiJump/*.user
/CapiJump/*.userprefs
/CapiJump/*.pidb
/CapiJump/*.booproj
/CapiJump/*.svd
/CapiJump/*.pdb
/CapiJump/*.opendb
/CapiJump/*.idb

# Visual Studio Code
/CapiJump/.vscode/

# JetBrains Rider
/CapiJump/.idea/
/CapiJump/*.sln.iml

# ==========================================
# Arquivos de Sistema Operacional (Globais)
# ==========================================
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# ==========================================
# Pacotes da Unity e Asset Store
# ==========================================
/CapiJump/*.unitypackage
/CapiJump/*.aab
/CapiJump/*.apk
/CapiJump/*.ipa

# ==========================================
# Crash Reports e Logs
# ==========================================
/CapiJump/sysinfo.txt
/CapiJump/*.stackdump